﻿@using Microsoft.AspNet.Identity





@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item dropdown dropdown-authentication">
            <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media">
                    <div class="media-img-wrap">
                        <div class="avatar">
                            <span class="avatar-text avatar-text-success rounded-circle">
                            </span>
                        </div>
                        <span class="badge badge-success badge-indicator"></span>
                    </div>
                    <div class="media-body">
                        <span>Howdy @User.Identity.GetUserName() !<i class="zmdi zmdi-chevron-down"></i></span>
                    </div>
                </div>
            </a>

            <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                <a class="dropdown-item"  href="@Url.Action("Index","Shop")" title="Manage" ><i class="dropdown-icon zmdi zmdi-store"></i><span>Visit Store</span></a>

                <a class="dropdown-item" href="@Url.Action("MyAccount", "Account")" title="Manage"><i class="dropdown-icon zmdi zmdi-settings"></i><span>Settings</span></a>



                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="dropdown-icon zmdi zmdi-power"></i><span>Log out</span></a>
            </div>
        </li>

            }
            }
            else
            {
                <li class="nav-item">
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                </li>
                <li>
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
                </li>

            }

        
