﻿
@{
    Layout = null;
}

@{
    string Active(string title) => (ViewBag.Title == title) ? "active" : "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Store Mangement</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard " />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    @Styles.Render("~/Content/admincss")
</head>

<body>
    <!-- Preloader -->

    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->
    <!-- HK Wrapper -->
    <div class="hk-wrapper hk-horizontal-nav">

        <!-- Top Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light fixed-top hk-navbar">
            <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><span class="feather-icon"><i data-feather="menu"></i></span></a>
            <a class="navbar-brand" href="@Url.Action("Index", "DashBoard")">
                <img class="brand-img d-inline-block" src="/Content/Admin/dist/img/logo-light.png" alt="brand" />
            </a>
            <ul class="navbar-nav hk-navbar-content">

                @Html.Partial("_AdminLoginPartial")
            </ul>
        </nav>

        <!-- /Top Navbar -->
        <!--Horizontal Nav-->
        <nav class="hk-nav hk-nav-dark">
            <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
            <div class="nicescroll-bar">
                <div class="navbar-nav-wrap">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item @Active("DashBoard")">
                            <a class="nav-link" href="@Url.Action("Index", "DashBoard")">
                                <span class="feather-icon"><i data-feather="activity"></i></span>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item @Active("New Category") @Active("Add Product")  @Active("Vendor") @Active("Products")">
                            <a class="nav-link link-with-indicator" href="javascript:void(0);" data-toggle="collapse" data-target="#app_drp">
                                <span class="feather-icon"><i data-feather="package"></i></span>
                                <span class="nav-link-text">Products</span>
                            </a>
                            <ul id="app_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("Add New", "AddProduct", "DashBoard", new { }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("All Products", "Products", "DashBoard", new { }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Add Category", "AddCategory", "DashBoard", new { }, new { @class = "nav-link" })

                                        </li>
                                        
                                        <li class="nav-item">
                                            @Html.ActionLink("Add Vendor", "AddVendor", "DashBoard", new { }, new { @class = "nav-link" })

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item @Active("Orders") ">
                            <a class="nav-link" href="@Url.Action("Orders", "DashBoard")">
                                <span class="feather-icon"><i data-feather="file-text"></i></span>
                                <span class="nav-link-text">Orders</span>
                            </a>
                        </li>

                        <li class="nav-item  @Active("Users")  @Active("AddUser")  @Active("EditUser")" >
                            <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#user_drp">
                                <span class="feather-icon"><i data-feather="users"></i></span>
                                <span class="nav-link-text">Users</span>
                            </a>
                            <ul id="user_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("Add New", "AddUser", "Account", new { }, new { @class = "nav-link" })
                                           
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("All Users", "Users", "DashBoard", new { }, new { @class = "nav-link" })

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
        <!--/Horizontal Nav-->
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Container -->
            <div class="container mt-xl-50 mt-sm-30 mt-15">

                @RenderBody()

            </div>

            <!-- /Container -->
            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Pampered by<a href="https://hencework.com/" class="text-dark" target="_blank">Hencework</a> © 2019</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">Follow us</p>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
        </div>
        <!-- /Main Content -->
    </div>


    <!-- /HK Wrapper -->
    @Scripts.Render("~/bundles/vendors/jquery")
    @Scripts.Render("~/Scripts/datatables")

    @Scripts.Render("~/bundles/dist/jquery")
    @RenderSection("scripts", required: false)


</body>

</html>