﻿@model Store_Management_App.Models.ViewModels.EditCustomerViewModel
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="login-register-area pt-45 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        
                        <a class="active" href="#">
                            <h4> Update Account </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg2" class="tab-pane active">
                            <div class="login-form-container">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="login-register-form">
                                    @using (Html.BeginForm("EditCustomer", "Account", FormMethod.Post, new { role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.TextBoxFor(m => m.FirstName, new { placeholder = Html.DisplayNameFor(m => m.FirstName) })
                                        @Html.ValidationMessageFor(v => v.FirstName)


                                        @Html.TextBoxFor(m => m.LastName, new { placeholder = Html.DisplayNameFor(m => m.LastName) })
                                        @Html.ValidationMessageFor(v => v.LastName)

                                        @Html.TextBoxFor(m => m.UserName, new { placeholder = Html.DisplayNameFor(m => m.UserName) })
                                        @Html.ValidationMessageFor(v => v.UserName)


                                        @Html.TextBoxFor(m => m.PhoneNumber, new {  placeholder = @Html.DisplayNameFor(m => m.PhoneNumber) })
                                        @Html.ValidationMessageFor(v => v.PhoneNumber)

                                        @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(m => m.Email) })
                                        @Html.ValidationMessageFor(v => v.Email)

                                      

                                        <div class="button-box">
                                            <button type="submit">Save</button>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>