﻿@using Store_Management_App.Models
@model Store_Management_App.Models.ViewModels.LoginViewModel
@{
     ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}



<div class="login-register-area pt-45 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" href="@Url.Action("Login", "Account")">
                            <h4> login </h4>
                        </a>
                        <a href="@Url.Action("Register", "Account")">
                            <h4> register </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">

                            <div class="login-form-container">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                               
                                <div class="login-register-form">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(c => c.Email) })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(c => c.Password) })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                     
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)

                                                @* <a href="#">Forgot Password?</a> *@
                                            </div>
                                            <button type="submit">Login</button>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

