﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}


<!-- my account wrapper start -->
<div class="my-account-wrapper pt-45 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="#dashboad" class="active" data-toggle="tab">
                                    <i class="fa fa-dashboard"></i>
                                    Dashboard
                                </a>
                                <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                                <a href="#payment-method" data-toggle="tab">
                                    <i class="fa fa-credit-card"></i> Payment
                                    Method
                                </a>
                              
                                <a href="@Url.Action("EditCustomer", "Account", new {id = @User.Identity.GetUserId()})" ><i class="fa fa-user"></i> Account Details</a>
                               
                                <a href="@Url.Action("ChangePassword", "Manage")" class="logout"><i class="fa fa-gear"></i> Change Password</a>
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="logout"><i class="fa fa-sign-out"></i> Logout</a>
                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 col-md-8">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Dashboard</h3>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            


                                            <div class="welcome">
                                                <p>Hello, <strong>@User.Identity.GetUserName()</strong> (If Not <strong>@User.Identity.GetUserName() !</strong><a href="javascript:document.getElementById('logoutForm').submit()" class="logout"> Logout</a>)</p>
                                            </div>
                                        }
                                        <p class="mb-0">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                                        @if (TempData["success"] != null)
                                        {
                                        <p class="text-success strong">@TempData["success"]</p>
                                        }
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Orders</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            
                                            @{
                                                Html.RenderAction("UserOrders", "Shop", new {id = User.Identity.GetUserId()});
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                               
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Payment Method</h3>
                                        <p class="saved-message">You Can't Saved Your Payment Method yet.</p>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                              
                                <!-- Single Tab Content Start -->
                                <!-- Single Tab Content End -->
                            </div>
                        </div> <!-- My Account Tab Content End -->
                    </div>
                </div> <!-- My Account Page End -->
            </div>
        </div>
    </div>
</div>
<!-- my account wrapper end -->