﻿@model Store_Management_App.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}



<div class="login-register-area pt-45 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a  href="@Url.Action("Login", "Account")">
                            <h4> login </h4>
                        </a>
                        <a class="active" href="@Url.Action("Register", "Account")">
                            <h4> register </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg2" class="tab-pane active">
                            <div class="login-form-container">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="login-register-form">
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.TextBoxFor(m => m.FirstName, new {placeholder = Html.DisplayNameFor(m => m.FirstName)})
                                        @Html.ValidationMessageFor(v => v.FirstName)


                                        @Html.TextBoxFor(m => m.LastName, new {placeholder = Html.DisplayNameFor(m => m.LastName) })
                                        @Html.ValidationMessageFor(v => v.LastName)

                                        @Html.TextBoxFor(m => m.UserName, new {placeholder = Html.DisplayNameFor(m => m.UserName) })
                                        @Html.ValidationMessageFor(v => v.UserName)

                                        @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Select Gender")
                                        @Html.ValidationMessageFor(v => v.GenderId)

                                        @Html.TextBoxFor(m => m.Email, new {placeholder = Html.DisplayNameFor(m => m.Email) })
                                        @Html.ValidationMessageFor(v => v.Email)

                                        @Html.PasswordFor(m => m.Password, new {placeholder = Html.DisplayNameFor(m => m.Password) })
                                        @Html.ValidationMessageFor(v => v.Password)

                                        @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                                        @Html.ValidationMessageFor(v => v.ConfirmPassword)

                                        <div class="button-box">
                                            <button type="submit">Register</button>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
