﻿@using Microsoft.AspNet.Identity
@model IEnumerable<Store_Management_App.Models.Activity>
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var suffix = "";
}

<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card card-lg">
            <h6 class="card-header">
                Recent Activities
            </h6>
            <div class="card-body">
                <div class="user-activity">
                    @foreach (var activity in @Model)
                    {
                        if (activity.UserId == User.Identity.GetUserId())
                        {
                            suffix = "(You)";
                        }
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <span class="avatar-text avatar-text-success rounded-circle">
                                    </span>
                                </div>
                            </div>

                            <div class="media-body">
                                <div>
                                    <span class="d-block mb-5"><span class="font-weight-500 text-dark text-capitalize">@activity.User.Name @suffix</span><span class="pl-5">@activity.ActionPerformed Order <a href="@Url.Action("Order", "DashBoard", new {id = @activity.OrderId})">#@activity.OrderId</a> </span></span>
                                    <span class="d-block font-13 mb-30 time">@activity.CreatedAt.ToString("O")</span>
                                </div>

                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Row -->

@section scripts
{
    <script>
        $(document).ready(function() {


         $(".time").each(function(index) {
                $(this).text(moment($(this).text()).fromNow());
            });

        });
    </script>
}