﻿@model Store_Management_App.Models.ViewModels.CategoryViewModel
@{
    ViewBag.Title = Model.Id == 0 ? "New Category" : $"Edit {Model.Name}";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var msg = Model.Id == 0 ? "Add New Category" : $"Edit {Model.Name}";
    var btnText = Model.Id == 0 ? "Create" : "Save";
}

@if (TempData.ContainsKey("success"))
{
    <div class="alert alert-success alert-wth-icon alert-dismissible fade show" role="alert">
        <span class="alert-icon-wrap"><i class="zmdi zmdi-check-circle"></i></span> @TempData["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="col-xl-8 pa-0">
    <div class="auth-form-wrap py-xl-0 py-50">
        <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-100">
            @using (Html.BeginForm("AddCategory", "DashBoard", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h1 class="display-4 mb-10">@msg</h1>


                <div class="form-row">
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Category" })

                        @Html.ValidationMessageFor(v => v.Name)

                    </div>

                </div>
                @Html.HiddenFor(c => c.Id)


                <div class="form-row">
                    <div class="col-sm-6 mb-20 ">
                        <button class="btn btn-primary btn-block " type="submit">@btnText</button>
                    </div>

                </div>
            }

        </div>
    </div>
</div>

<section class="hk-sec-wrapper">
    <h5 class="hk-sec-title">Categories</h5>
    <div class="row">
        <div class="col-sm">
            <div class="table-wrap">
                <div class="table-responsive">
                    <table class="table table-sm mb-0">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>
                                    <a href="/home/editcategory/@category.Id" class="mr-25" data-toggle="tooltip" data-original-title="Edit"> <i class="icon-pencil"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Delete"> <i class="icon-trash txt-danger"></i> </a>
                                </td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
