﻿@model Store_Management_App.Models.ViewModels.ProductViewModel
@{
    ViewBag.Title = Model.Id == 0 ? "Add Product" : $"Edit {Model.Name}";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var msg = Model.Id == 0 ? "Add New Product" : $"Edit {Model.Name}";
    var btnText = Model.Id == 0 ? "Create" : "Save";
}



<div class="col-xl-8 pa-0">
    <div class="auth-form-wrap py-xl-0 py-50">
        <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-100">
            @using (Html.BeginForm("Save", "DashBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="display-4 mb-10">@msg</h1>

@*                 @Html.ValidationSummary() *@

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(v => v.Name)
                </div>

                <div class="form-row">
                    <div class="col-md-4 form-group">
                        @Html.TextBoxFor(m => m.Sku, new { @class = "form-control", placeholder = "Sku" })
                        @Html.ValidationMessageFor(v => v.Sku)
                    </div>

                    <div class="col-md-4 form-group">
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category", new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.CategoryId)
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.DropDownListFor(m => m.VendorId, new SelectList(Model.Vendors, "Id", "Name"), "Select Vendor", new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.VendorId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description", rows = 4 })
                    @Html.ValidationMessageFor(v => v.Description)

                </div>

                <div class="form-row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.Price, "Price (₦)")
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Price", type = "number" })
                        @Html.ValidationMessageFor(v => v.Price)
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.Quantity)
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", placeholder = "Quantity", type = "number" })
                        @Html.ValidationMessageFor(v => v.Quantity)
                    </div>
                   
                </div>

                <div class="form-row">

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => m.ExpireDate)
                        @Html.TextBoxFor(m => m.ExpireDate, "{0: dd/MM/yyyy}" ,new { @class = "form-control", placeholder = "Best Before" })
                        @Html.ValidationMessageFor(v => v.ExpireDate)
                    </div>
                    <div class="col-md-6 form-group">
                        @if (Model.Id == 0)
                        {

                            <label for="Photo">Upload Photo</label>
                            <input type="file" accept="image/*" id="Photo" name="Photo" required />
                        }
                        else
                        {
                            if (Model.File?.Content != null)
                            {
                                <img class="img-thumbnail" width="150" height="150"
                                     src="@Url.Action("GetMedia", "DashBoard",
                                              new { Model.Id })" />
                                <br />
                                <label for="Photo">Change Photo</label>
                            }
                            else
                            {
                                <div class="form-control-static">No Image</div>
                                <label for="Photo">Upload Photo</label>
                            }


                            <input type="file" accept="image/*" id="Photo" name="Photo" />
                        }


                    </div>
                </div>
                @Html.HiddenFor(m => m.Id)

                <div class="form-row">
                    <div class="col-sm-6 mb-20">
                        <button class="btn btn-primary btn-block " type="submit">@btnText</button>
                    </div>

                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        jQuery.validator.methods["date"] = function (value, element) {
            return true;

        }
    </script>
}
