﻿@using Microsoft.AspNet.Identity
@model Store_Management_App.Models.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var suffix = "";
}


<div class="row">
    <div class="col-xl-12">

        <div class="hk-row">
            <div class="col-sm-12">
                <div class="card-group hk-dash-type-2">
                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-5">
                                <div>
                                    <span class="d-block font-15 text-dark font-weight-500">Customers</span>
                                </div>
                               
                            </div>
                            <div>
                                <span class="d-block display-4 text-dark mb-5">@Model.Customers</span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-5">
                                <div>
                                    <span class="d-block font-15 text-dark font-weight-500">Products</span>
                                </div>
                               
                            </div>
                            <div>
                                <span class="d-block display-4 text-dark mb-5"><span class="counter-anim">@Model.Products</span></span>
                            
                            </div>
                        </div>
                    </div>

                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-5">
                                <div>
                                    <span class="d-block font-15 text-dark font-weight-500"> Orders</span>
                                </div>
                               
                            </div>
                            <div>
                                <span class="d-block display-4 text-dark mb-5">@Model.Orders</span>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-5">
                                <div>
                                    <span class="d-block font-15 text-dark font-weight-500">Total Sales</span>
                                </div>
                                
                            </div>
                            <div>
                                <span class="d-block display-4 text-dark mb-5">@Model.TotalSales.ToString("C")</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-action">
                <h6>Recent Activity</h6>
                <div class="d-flex align-items-center card-action-wrap">
                    <div class="inline-block dropdown">
                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="ion ion-ios-more"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="@Url.Action("Activities", "DashBoard")">View More</a>
                           
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="card-body">
                <div class="user-activity user-activity-sm">
                    @foreach(var activity in @Model.Activities)
                    {
                        if (activity.UserId == User.Identity.GetUserId())
                        {
                            suffix = "(You)";
                        }
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-xs">
                                    <span class="avatar-text avatar-text-success rounded-circle">
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <span class="d-block mb-5"><span class="font-weight-500 text-dark text-capitalize">@activity.User.Name @suffix</span><span class="pl-5">@activity.ActionPerformed Order <a href="@Url.Action("Order", "DashBoard", new {id = @activity.OrderId})">#@activity.OrderId</a> </span></span>
                                    <span class="d-block font-13 mb-10 time">@activity.CreatedAt.ToString("O")</span>
                                </div>

                            </div>
                        </div>

                    }

                  
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {


            $(".time").each(function(index) {
                $(this).text(moment($(this).text()).fromNow());
            });

        });
    </script>
}