﻿@model Order
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Title -->
<div class="hk-pg-header mb-10">
    <div>
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="book"></i></span></span>Invoice #@Model.Id</h4>
    </div>
   
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper hk-invoice-wrap pa-35">
            <div class="invoice-from-wrap">
                <div class="row">
                    <div class="col-md-7 mb-20">
                        <img class="img-fluid invoice-brand-img d-block mb-20" src="/Content/Admin/dist/img/invoice-logo.png" alt="brand" />
                        <h6 class="mb-5">Hencework Inc</h6>
                        <address>
                            <span class="d-block">4747, Pearl Street</span>
                            <span class="d-block">Rainy Day Drive, Washington</span>
                            <span class="d-block">Pangong@hencework.com</span>
                        </address>
                    </div>
                    <div class="col-md-5 mb-20">
                        <h4 class="mb-35 font-weight-600">Invoice / Receipt</h4>
                        <span class="d-block">Date:<span class="pl-10 text-dark"> @Model.CreatedAt.ToString("MMM dd, yyyy HH:mm tt")</span></span>
                        <span class="d-block">Invoice / Receipt #<span class="pl-10 text-dark">@Model.Id</span></span>
                        @* <span class="d-block">Customer #<span class="pl-10 text-dark">321434</span></span> *@
                    </div>
                </div>
            </div>
            <hr class="mt-0">
            <div class="invoice-to-wrap pb-20">
                <div class="row">
                    <div class="col-md-7 mb-30">
                        <span class="d-block text-uppercase mb-5 font-13">billing to</span>
                        <h6 class="mb-5">@Model.FullName</h6>
                        <h6 class="mb-5">@Model.CompanyName</h6>
                        <address>
                            <span class="d-block">@Model.Address1</span>
                            @if (Model.Address2 != null)
                            {
                                <span class="d-block">@Model.Address2</span>
                            }
                           
                            <span class="d-block">PostalCode: @Model.PostalCode, @Model.Town, @Model.State.</span>
                            <span class="d-block">@Model.Email</span>
                            <span class="d-block">@Model.Phone</span>
                        </address>
                    </div>
                    <div class="col-md-5 mb-30">
                        <span class="d-block text-uppercase mb-5 font-13">Payment info</span>
                        <span class="d-block">@Model.User.Name</span>
                        <span class="d-block">Pay On Delivery</span>
                        @* <span class="d-block">MasterCard#########1234</span> *@
                        @* <span class="d-block">Customer #<span class="text-dark">@Model.User.Id</span></span> *@
                        <span class="d-block text-uppercase mt-20 mb-5 font-13">amount due</span>
                        <span class="d-block text-dark font-18 font-weight-600">@Model.GetTotalCost().ToString("C")</span>
                    </div>
                </div>
            </div>
            <h5>Items</h5>
            <hr>
            <div class="invoice-details">
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table table-striped table-border mb-0">
                            <thead>
                                <tr>
                                    <th class="w-70">Items</th>
                                    <th class="text-right">Number</th>
                                    <th class="text-right">Unit Cost</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td class="w-70">@item.Product.Name</td>
                                    <td class="text-right">@item.Quantity</td>
                                    <td class="text-right">@item.Price.ToString("C")</td>
                                    <td class="text-right">@item.GetCost().ToString("C")</td>
                                </tr>
                            }

                            <tr class="bg-transparent">
                                <td colspan="3" class="text-right text-light">Subtotals</td>
                                <td class="text-right">@Model.GetTotalCost().ToString("C")</td>
                            </tr>
                            @* <tr class="bg-transparent"> *@
                            @*     <td colspan="3" class="text-right text-light border-top-0">Tax</td> *@
                            @*     <td class="text-right border-top-0">$3510</td> *@
                            @* </tr> *@
                            @* <tr class="bg-transparent"> *@
                            @*     <td colspan="3" class="text-right text-light border-top-0">Discount</td> *@
                            @*     <td class="text-right border-top-0">$1000</td> *@
                            @* </tr> *@
                            </tbody>
                            <tfoot class="border-bottom border-1">
                                <tr>
                                    <th colspan="3" class="text-right font-weight-600">total</th>
                                    <th class="text-right font-weight-600">@Model.GetTotalCost().ToString("C")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="invoice-sign-wrap text-right py-60">
                    <img class="img-fluid d-inline-block" src="/Content/Admin/dist/img/signature.png" alt="sign" />
                    <span class="d-block text-light font-14">Digital Signature</span>
                </div>
            </div>
            <hr>
            <ul class="invoice-terms-wrap font-14 list-ul">
                <li>A buyer must settle his or her account within 30 days of the date listed on the invoice.</li>
                <li>The conditions under which a seller will complete a sale. Typically, these terms specify the period allowed to a buyer to pay off the amount due.</li>
            </ul>
        </section>
    </div>
</div>
<!-- /Row -->
