﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (TempData.ContainsKey("prodMsg"))
{
    <div class="alert alert-success alert-wth-icon alert-dismissible fade show" role="alert">
        <span class="alert-icon-wrap"><i class="zmdi zmdi-check-circle"></i></span> @TempData["prodMsg"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!-- Title -->
<div class="hk-pg-header">
    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Products</h4>
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Products Table</h5>

            <p>@Html.ActionLink("Add New Product", "AddProduct", "DashBoard", new { }, new { @class = "btn btn-primary " })</p>
            <br />



            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap">
                        <table id="products" class="table table-striped  w-100  pb-30">
                            <thead>
                                <tr>
                                    <th>Sku</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>In stock</th>
                                    <th>Expiry Date</th>
                                    <th>CreatedAt</th>
                                    <th>UpdatedAt</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>



        </section>



    </div>
</div>


