﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Title -->
<div class="hk-pg-header">
    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Users Tables</h4>
</div>
<!-- /Title -->

<!-- Row -->
<div class="row">
<div class="col-xl-12">
    <section class="hk-sec-wrapper">
        <h5 class="hk-sec-title">Admin Table</h5>

        <p>@Html.ActionLink("Add New User", "AddUser", "Account", new { }, new { @class = "btn btn-primary " })</p>
        <br/>



        <div class="row">
            <div class="col-sm">
                <div class="table-wrap">
                    <table id="admins"class="table table-striped  w-100  pb-30">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>CreatedAT</th>
                            <th>UpdatedAT</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
   

                    </table>
                </div>
            </div>
        </div>
        
        

    </section>
    
    
    <section class="hk-sec-wrapper">
        <h5 class="hk-sec-title">Customers Table</h5>

        <p>@Html.ActionLink("Add New User", "AddUser", "Account", new { }, new { @class = "btn btn-primary " })</p>
        <br/>



        <div class="row">
            <div class="col-sm">
                <div class="table-wrap">
                    <table id="customers"class="table table-striped  w-100  pb-30">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
   

                    </table>
                </div>
            </div>
        </div>
        
        

    </section>
</div>
</div>


