﻿@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model Store_Management_App.Models.ViewModels.CartViewModel
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
@{
    var continuShoppingUrl = Model.CartFormViewModel.ReturnUrl ?? Url.Action("Index", "Shop");
}

<div class="cart-main-area pt-45 pb-120">
    <div class="container">
        @if (TempData.ContainsKey("errMsg"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["errMsg"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData.ContainsKey("cart"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["cart"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                @if (Model.CartItems.ToList().Count() != 0)
                {
                    <form action="@Url.Action("UpdateCart")" method="post">
                        <div class="table-content table-responsive cart-table-content">
                            <table id="cartItems">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>




                                    @foreach (var item in Model.CartItems.ToList())
                                    {

                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="@Url.Action("GetMedia", "DashBoard", new {id = item.Product.Id})" alt="@item.Product.Name" width="98" height="112"></a>
                                            </td>
                                            <td class="product-name"><a href="">@item.Product.Name</a></td>
                                            <td class="product-price-cart"><span class="amount">@item.Product.Price.ToString("C")</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                @if (item.Product.Quantity <= 0)
                                                {
                                                    item.Quantity = 0;

                                                    <strong class="text-danger">Out of Stock</strong>
                                                }
                                                else if (item.Product.ExpireDate != null && item.Product.ExpireDate.Value <= DateTime.Now)
                                                {
                                                    item.Quantity = 0;
                                                    <strong class="text-danger">Expired</strong>
                                                }
                                                else if (item.Product.Quantity > 0)
                                                {
                                                    <div class="cart-plus-minus">
                                                        @* @Html.TextBox(@item.Product.Sku, item.Quantity, new {@class= "cart-plus-minus-box"}) *@
                                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value=@item.Quantity data-item-id=@item.Product.Id data-item-qty="@item.Quantity">
                                                    </div>
                                                }

                                            </td>
                                            <td class="product-subtotal">@((item.Quantity * item.Product.Price).ToString("C"))</td>
                                            <td class="product-remove">
                                                <a class="js-delete" href="javascript:;" data-id-cart="@item.Product.Id"><i class="icon_close"></i></a>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="@continuShoppingUrl">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear">
                                        @* <button>Update Cart</button> *@

                                        <a id="clearItems" href="javascript:;">Clear Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    if (Model.CartItems.Sum(c => c.Quantity * c.Product.Price) > 0)
                    {
                        <div class="row">
                            <div class="col-lg-4 col-md-6">

                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span>@Model.CartItems.Sum(c => c.Quantity * c.Product.Price).ToString("C")</span></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                        <ul>
                                            <li><input type="checkbox" checked disabled> Standard <span>Free</span></li>
                                            @* <li><input type="checkbox"> Express <span>$30.00</span></li> *@
                                        </ul>
                                    </div>
                                    <h4 class="grand-totall-title">Grand Total <span>@Model.CartItems.Sum(c => c.Quantity * c.Product.Price).ToString("C")</span></h4>
                                    <a href="@Url.Action("CheckOut", "Shop")">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="alert alert-warning text-center">
                        <h2>Your Cart Is Empty</h2>
                    </div>

                }


            </div>
        </div>
    </div>
</div>
@section scripts
{

    <script>
        $(document).ready(function() {

            $("#cartItems").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    var model = {}
                    model.ProductId = button.attr("data-id-cart");


                    model.ReturnUrl = "@continuShoppingUrl";

                    bootbox.confirm("Are you Sure You want to Remove This Item ?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/shop/removecartitem",
                                    method: "POST",
                                    data: model,
                                    success: function(data) {

                                        window.location.href = "@Url.Action("Cart", "Shop", new{ @continuShoppingUrl})";
                                    },
                                    error: function(err) {
                                        console.log(err);
                                    }


                                });
                            }
                        });
                });

            $("#clearItems").on("click",
                function() {
                    bootbox.confirm("Are you Sure You want to Clear Cart ?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "@Url.Action("ClearCart", "Shop")",
                                    method: "POST",
                                    success: function (data) {
                                  

                                        window.location.href = "@Url.Action("Cart", "Shop")";
                                    },
                                    error: function(err) {
                                        console.log(err);
                                    }


                                });
                            }
                        });
                });




            var CartPlusMinus = $('.cart-plus-minus');
            CartPlusMinus.prepend('<div class="dec qtybutton">-</div>');
            CartPlusMinus.append('<div class="inc qtybutton">+</div>');
            $(".qtybutton").on("click", function() {
                var $button = $(this);
                var oldValue = $button.parent().find("input").val();
                if ($button.text() === "+") {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    // Don't allow decrementing below one
                    if (oldValue > 1) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 1;
                    }
                }
                $button.parent().find("input").val(newVal);

                var model = {};
                model.ProductId = $button.parent().find("input").attr("data-item-id");
                model.Quantity = $button.parent().find("input").val();
                model.ReturnUrl = "@continuShoppingUrl";

                if (model.Quantity !== "1") {
                    bootbox.confirm("Are you Sure You want to Update Quantity ?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/shop/updatecart",
                                    method: "POST",
                                    data: model,
                                    success: function(data) {

                                        window.location.href = "@Url.Action("Cart", "Shop", new{ @continuShoppingUrl})";
                                    },
                                    error: function(err) {
                                        console.log(err);
                                    }


                                });
                            }
                            if (!result) {

                                var iniVal =  $button.parent().find("input").attr("data-item-qty");
                                $button.parent().find("input").val(iniVal);
                            }


                        });
                }

            });
        });
    </script>

}