﻿@using System.Text
@using System.Web.Mvc.Html
@using WebGrease.Css.Extensions
@model Store_Management_App.Models.ViewModels.ProdDetailViewModel
@{
    var builder = new StringBuilder(10);
    var desc = Model.Product.Description.Split(' ').Take(10); 
    foreach ( var word in desc)
    {
        builder.Append(word);
        builder.Append(" ");
    }
    
}


    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12 col-sm-12">
                    <div class="tab-content quickview-big-img">
                        <div class="tab-pane fade show active">
                            <img src="@Url.Action("GetMedia", "DashBoard", new{ id = Model.Product.Id})" alt="@Model.Product.Name">
                        </div>

                    </div>

                </div>
                <div class="col-lg-7 col-md-6 col-12 col-sm-12">
                    <div class="product-details-content quickview-content">
                        <h2>@Model.Product.Name</h2>
                        <p>
                           @builder.ToString()...
                        </p>
                        <div class="pro-details-price">
                            <span class="new-price">@Model.Product.Price.ToString("C")</span>

                        </div>

                        @using (Html.BeginForm("AddToCart", "Shop", FormMethod.Post, new { id ="addToCart"}))
                        {
                            <div class="pro-details-quality">
                                <span>Quantity:</span>
                                <div class="cart-plus-minus">
                                    @Html.HiddenFor(m => m.CartFormViewModel.ReturnUrl)
                                    @Html.HiddenFor(m => m.CartFormViewModel.ProductId)

                                    @Html.TextBoxFor(m => m.CartFormViewModel.Quantity, new { @class = "cart-plus-minus-box", type = "number" })
                                    @Html.ValidationMessageFor(m => m.CartFormViewModel.Quantity)

                                </div>
                            </div>



                            <div class="product-details-meta">
                                <ul>
                                    <li><span>Category:</span> <a href="@Url.RouteUrl(null, new {controller = "Shop", action = "Index", category = Model.Product.Category, page = 1})">@Model.Product.Category</a></li>
                                    <li><span>Vendor:</span> <a href="@Url.RouteUrl(null, new {controller = "Shop", action = "Index", vendor = Model.Product.Vendor, page = 1})">@Model.Product.Vendor</a></li>
                                    <li><span>Instock:</span>
                                        @if (Model.Product.Quantity > 0)
                                        {
                                            @Model.Product.Quantity
                                        }
                                        else
                                        {
                                          <strong class="text-danger">Out of Stock</strong>  
                                        }

                                        </li>
                                    @if (@Model.Product.ExpireDate != null)
                                    {
                                        <li><span>Best Before: </span>
                                            @if (Model.Product.ExpireDate.Value > DateTime.Now)
                                            {
                                                @Model.Product.ExpireDate.Value.ToString("D") 
                                            }
                                            else
                                            {
                                                <strong class="text-danger">Expired</strong>  
                                            }
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="pro-details-action-wrap">
                                <div class="pro-details-add-to-cart">
                                    @if ((Model.Product.Quantity > 0 && Model.Product.ExpireDate == null) ||
                                         (Model.Product.Quantity > 0 && (Model.Product.ExpireDate != null && Model.Product.ExpireDate.Value > DateTime.Now)))
                                    {
                                        <input type="submit" value="Add to Cart" title="Add to Submit"/>
                                    }

                                </div>
                                <div class="pro-details-action">
                                    <a title="Add to Wishlist" href="#"><i class="icon-heart"></i></a>
                                    <a title="Add to Compare" href="#"><i class="icon-refresh"></i></a>
                                    <a class="social" title="Social" href="#"><i class="icon-share"></i></a>
                                    <div class="product-dec-social">
                                        <a class="facebook" title="Facebook" href="#"><i class="icon-social-facebook"></i></a>
                                        <a class="twitter" title="Twitter" href="#"><i class="icon-social-twitter"></i></a>
                                        <a class="instagram" title="Instagram" href="#"><i class="icon-social-instagram"></i></a>
                                        <a class="pinterest" title="Pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







