﻿@model Store_Management_App.Models.ViewModels.ProductPageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
@{
    var prevLink = Url.Action("Index", "Shop", new { page = Model.Pagination.CurrentPage - 1 });
    var nextLink = Url.Action("Index", "Shop", new { page = Model.Pagination.CurrentPage + 1 });
    prevLink = Model.Pagination.CurrentPage <= 1 ? "#" : prevLink;
    nextLink = Model.Pagination.CurrentPage >= Model.Pagination.TotalPages ? "#" : nextLink;
}


@if (Model.SelectedCategory != null || Model.SelectedVendor != null ||  ViewBag.Search == true)
{
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    @if (ViewBag.Search == true)
                    {
                        <li>
                            Search Results for "@Request.QueryString.Get("query")": @Model.Pagination.TotalItems Item(s) found
                        </li>
                    }
                    else if(Model.SelectedCategory != null)
                    {
                        <li>
                            @Model.SelectedCategory : @Model.Pagination.TotalItems Item(s)
                        </li>
                    }else if(Model.SelectedVendor != null){

                        <li>
                            @Model.SelectedVendor : @Model.Pagination.TotalItems Item(s)
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
}

    <div class="shop-area pt-50 pb-120">
        <div class="container">
            @if (TempData.ContainsKey("cartError"))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["cartError"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
            }
            <div class="row flex-row-reverse">
                <div class="col-lg-9">

                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-2" class="tab-pane active">
                                @if (Model.Pagination.TotalItems > 0) { 
                                    foreach (var product in Model.Products.ToList())
                                    {
                                            <div class="shop-list-wrap mb-30">
                                                <div class="row">
                                                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                                                        <div class="product-list-img">
                                                            <a href="#" class="modal-link" data-target="@Url.Action("Details", "Shop", new {id = @product.Id})">
                                                                <img src="@Url.Action("GetMedia", "DashBoard",
                                                                              new {product.Id})" alt="@product.Name">
                                                            </a>
                                                            <div class="product-list-quickview">
                                                                <button class="modal-link" title="Quick View" data-toggle="modal" data-target="@Url.Action("Details", "Shop", new {id = @product.Id})"><i class="icon-size-fullscreen icons"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                                                        <div class="shop-list-content">
                                                            <h3><a href="#" class="modal-link" data-target="@Url.Action("Details", "Shop", new {id = @product.Id})">@product.Name</a></h3>
                                                            <div class="pro-list-price">
                                                                <span class="new-price">@product.Price.ToString("C")</span>
                                                            </div>

                                                            <p>@product.Description</p>
                                                            <div class="product-list-action">

                                                                @if ((product.Quantity > 0 && (product.ExpireDate != null && product.ExpireDate.Value > DateTime.Now))
                                                                     || (product.Quantity > 0 && product.ExpireDate == null))
                                                                {
                                                                    using (@Html.BeginForm("AddToCart", "Shop"))
                                                                    {
                                                                        {
                                                                            Model.CartFormViewModel.ProductId = product.Id;
                                                                            Model.CartFormViewModel.ReturnUrl = Request.Url.PathAndQuery;
                                                                        }
                                                                        @Html.HiddenFor(x => x.CartFormViewModel.ProductId)
                                                                        @Html.HiddenFor(x => x.CartFormViewModel.ReturnUrl)
                                                                        @Html.HiddenFor(x => x.CartFormViewModel.Quantity)

                                                                        <button title="Add To Cart"><i class="icon-basket-loaded"></i></button>
                                                                    }
                                                                }
                                                                else if (product.ExpireDate != null && product.ExpireDate.Value <= DateTime.Now)
                                                                {
                                                                    <span class="text-danger"><strong>Expired</strong></span>
                                                                }
                                                                else if (product.Quantity <= 0)
                                                                {
                                                                    <span class="text-danger"><strong>Out of Stock</strong></span>
                                                                }




                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                }else if(Request.QueryString.Get("query") != null && @Model.Pagination.TotalItems == 0){
                                    <div class="shop-list-wrap mb-30">
                                        <h4 class=" alert alert-warning text-center" >OOps... No Item Matches the Given Keyword, ... Try Another Keyword.</h4>
                                    </div>
                                }
                                else
                                {
                                    <div class="shop-list-wrap mb-30">
                                        <h4 class=" alert alert-warning text-center" >OOps... No Items were found</h4>
                                    </div>
                                }

                            </div>
                        </div>


                        @if (Model.Pagination.TotalPages > 0)
                        {
                            <div class="pro-pagination-style text-center mt-10">
                                <ul>

                                    <li><a class="prev" href="@prevLink"><i class="icon-arrow-left"></i></a></li>

                                    @for (var i = 1; i <= Model.Pagination.TotalPages; i++)
                                    {

                                        <li>@Html.ActionLink(i.ToString(), "Index", new { Controller = "Shop", page = i, category = Model.SelectedCategory }, new { @class = (i) == Model.Pagination.CurrentPage ? "active" : "" })</li>
                                    }

                                    <li><a class="next" href="@nextLink"><i class="icon-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        }





                    </div>
                </div>

                <div class="col-lg-3">
                    
                    
                    <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                        <div class="sidebar-widget mb-40">
                            <h4 class="sidebar-widget-title">Search </h4>
                            <div class="sidebar-search">
                                <form class="sidebar-search-form" action="@Url.Action("Search", "Shop")" method="post">
                                    <input type="text" placeholder="Search here..." name="search">
                                    <button>
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        @{
                            Html.RenderAction("SideBarCategories", "Shop");
                            Html.RenderAction("SideBarVendors", "Shop");
                        }

                    </div>
                   
                </div>

            </div>
        </div>
    </div>
    



<div class="subscribe-area bg-gray pt-115 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="section-title">
                    <h2>keep connected</h2>
                    <p>Get updates by subscribe our weekly newsletter</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div id="mc_embed_signup" class="subscribe-form">
                    <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input class="email" type="email" required="" placeholder="Enter your email address" name="EMAIL" value="">
                            <div class="mc-news" aria-hidden="true">
                                <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                            </div>
                            <div class="clear">
                                <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts
{

    <script>

        $(document).ready(function () {

            $("#shop-2").on("click",
                ".modal-link",
                function (e) {
                    e.preventDefault();
                    var button = $(this);
                    $("#modal-container").remove;
                    $.get(button.data("target")).done(
                        function (data) {

                            $("#modal-container").html(data);

                            $(".modal").modal();

                            $("#modal-container").change(function () {
                                $.validator.unobtrusive.parse('#addToCart');
                            });


                        }


                    );

                });


        });




    </script>
}
