﻿@model Order
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    
}
@{
    var status = "";

    switch (Model.Status)
    {
        case OrderStatus.Pending:
            status = "Pending";
            break;
        case OrderStatus.Completed:
            status = "Completed";
            break;
        case OrderStatus.Cancelled:
            status = "Cancelled";
            break;

        default:
            break;

    }
}

    <div class="checkout-main-area pt-45 pb-120 ">
    <div class="container">
        <div class="checkout-wrap pt-30">
            <div class="row">
              
                <div class="col-lg-7">
                    <div class="your-order-area">
                        <h3>Your order ID: #@Model.Id</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-info-wrap">
                                <div class="your-order-info">
                                    <ul>
                                        <li>Product <span>Total</span></li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <ul>
                                        @foreach (var item in Model.OrderItems)
                                        {
                                            <li>@item.Product.Name X @item.Quantity <span>@((item.Price * item.Quantity).ToString("C")) </span></li>
                                        }

                                      
                                    </ul>
                                </div>
                                <div class="your-order-info order-subtotal">
                                    <ul>
                                        <li>Subtotal <span> @Model.OrderItems.Sum(c => c.Price * c.Quantity).ToString("C")</span></li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-shipping">
                                    <ul>
                                        <li>
                                            Shipping <p class="text-success">Free </p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="your-order-info order-total">
                                    <ul>
                                        <li>Total <span> @Model.OrderItems.Sum(c => c.Price * c.Quantity).ToString("C") </span></li>
                                    </ul>
                                </div>
                            </div>


                            <div class="payment-method">
                                <h3>Mode Of Payment </h3>


                                <div class="pay-top sin-payment">
                                    <input id="payment-method-3" class="input-radio" type="radio" checked disabled value="cheque" name="payment_method">
                                    <label for="payment-method-3">Cash on delivery </label>

                                </div>

                            </div>

                            <h3>Bill To: </h3>
                                
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-info order-shipping">
                                        <ul>

                                            <li>
                                                <strong>Name: </strong>
                                               
                                                @Model.FullName 
                                            </li>

                                            <li>
                                                <strong>Company: </strong>
                                               
                                               @Model.CompanyName 
                                            </li>
                                            <li>
                                                <strong>Address: </strong>
                                                
                                               @Model.Address1 
                                            </li>
                                            @if (Model.Address2 != null)
                                            {
                                            
                                                <li>
                                                    <strong>Address 2: </strong>
                                               
                                                    @Model.Address2
                                                </li>
                                            }
                                           
                                            <li>
                                                <strong>Town / City: </strong>
                                                
                                                @Model.Town 
                                            </li>
                                            <li>
                                                <strong>Postal / Zip Code: </strong>
                                                
                                                @Model.PostalCode 
                                            </li>
                                            <li>
                                                <strong>State / Country: </strong>
                                               
                                                @Model.State
                                            </li>
                                            <li>
                                                <strong>Email: </strong>
                                               
                                                @Model.Email
                                            </li>
                                            <li>
                                                <strong>Phone: </strong>
                                               
                                                @Model.Phone 
                                            </li>



                                        </ul>
                                    </div>
                                    <div class="your-order-info order-shipping">
                                        <ul>
                                            <li>
                                                <strong>Status</strong>  <p class="text-info">@status </p>
                                            </li>
                                               
                                                
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
