﻿
@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}



<div class="checkout-main-area pt-45 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="alert alert-success text-center"> Your Order Has Been Received, and is Being Processed </p> 
            </div>
               
           
        </div>
    </div>
</div>