﻿@model Store_Management_App.Models.ViewModels.CartViewModel
@if (Model.CartItems.Any())
{
    <div class="sidebar-cart-all">
        <a class="cart-close" href="#"><i class="icon_close"></i></a>
        <div class="cart-content">
            <h3>Shopping Cart</h3>
            <ul>
                @foreach (var item in Model.CartItems.Take(2))
                {
                    <li class="single-product-cart">
                        <div class="cart-img">
                            <a href="#"><img src="@Url.Action("GetMedia", "DashBoard", new {id = item.Product.Id})" alt="@item.Product.Name" width="98"></a>
                        </div>
                        <div class="cart-title">
                            <h4><a href="#">@item.Product.Name</a></h4>

                            @if (item.Product.Quantity <= 0)
                            {
                                item.Quantity = 0;
                                <span>@item.Product.Price.ToString("C") - <strong class="text-danger">Out of Stock</strong></span>
                            }
                            else if (item.Product.ExpireDate != null && item.Product.ExpireDate.Value <= DateTime.Now)
                            {
                                item.Quantity = 0;
                                <span>@item.Product.Price.ToString("C") - <strong class="text-danger">Expired</strong></span>
                            }
                            else if (item.Product.Quantity > 0)
                            {
                                <span> @item.Quantity × @item.Product.Price.ToString("C") </span>
                            }

                          
                        </div>
                        @* <div class="cart-delete"> *@
                        @*     <a href="#">×</a> *@
                        @* </div> *@
                    </li>
                }
           

            </ul>
            <div class="cart-total">
                <h4>Subtotal: <span>@Model.CartItems.Sum(c => c.Quantity * c.Product.Price).ToString("C")</span></h4>
            </div>
            <div class="cart-checkout-btn">
                <a class="btn-hover cart-btn-style" href="@Url.Action("Cart", "Shop")">view cart</a>
                @if (Model.CartItems.Sum(c => c.Quantity * c.Product.Price) > 0)
                {
                    <a class="no-mrg btn-hover cart-btn-style" href="@Url.Action("CheckOut", "Shop")">checkout</a>
                }
               
            </div>
        </div>
    </div>
}
else
{
    <div class="sidebar-cart-all">
     <a class="cart-close" href="#"><i class="icon_close"></i></a>
    <div class="cart-content">
        <h3>Shopping Cart</h3>
        <div class="alert alert-warning text-center">
            <p>Your Cart Is Empty</p>
        </div>
    
    </div>
    </div>
}

