﻿@model IEnumerable<string>
@{
    string Active(string cat) => (ViewBag.SelectedCategory  == cat) ? "active" : "";
}

    <div class="sidebar-widget shop-sidebar-border mb-35 pt-40">
        <h4 class="sidebar-widget-title">Categories </h4>
        <div class="shop-catigory">
            <ul>
                
                @foreach (var cate in Model)
                {
                    <li><a  class="@Active(cate)" href="@Url.RouteUrl(null, new {controller = "Shop", action = "Index", category = cate, page = 1})">@cate</a></li>
                }
               
            </ul>
        </div>
    </div>

